<div id="install" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="text-center">

      <div class="lead-wrap">

        <h1><%= __('login.head') %></h1>

        <h2><%= __('login.subhead') %></h2>
      </div>

      <img class="big-image hero-image" src="/images/proposal-hero-desktop.svg"/>

      <h3 id="start"><a class="btn" :href="beginInstallLink"><%= __('login.github.button') %></a></h3>
      
    </div>
  </div>
  <div class="looking">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-4 image-wrap">
          <img class="big-image hero-image" src="/images/proposal-submit.svg"/>
        </div>
        <div class="col-sm-12 col-lg-8 text-wrap">
          <h2><%= __('login.looking.title') %></h2>
          <p><strong><%= __('login.looking.lead') %></strong></p>
          <%- __('login.looking.text') %>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
